@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h2>All Roles</h2>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-action="CreateRole" asp-controller="Administration" style="width:auto">Add New Role</a>
    foreach (var role in Model)
    {
        <div class="card d-block mb-3">
            <div class="card-header">
                Role id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Role Name: @role.Name
                </h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration" style="width:auto">Edit Role</a>
                <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration" style="width:auto">Delete Role</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use below button to create role
            </h5>
            <a class="btn btn-primary"  asp-action="CreateRole" asp-controller="Administration" style="width:auto"> Add New Role</a>
        </div>
    </div>
}
